p {
    line-height: 18px;
}

table>tbody>tr>td {
    color: rgb(119, 119, 119);
}

.h1-custom {
    font-size: 3.8rem !important;
    line-height: 1;

    @media (max-width: 991.98px) {
        font-size: 2.5rem !important;
    }
}

.text-pt-footer {
    font-size: 1.4rem;
    color: white;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    line-height: 1;
}

.text-pt-footer-small {
    font-size: 0.8rem;
    color: white;
    line-height: 1.5;
}

#header {
    .header-nav.header-nav-links {
        nav {
            >ul {
                li {
                    >a.active {
                        color: #64b964 !important;
                    }
                }

                li:hover {
                    >a {
                        color: #64b964 !important;
                    }
                }

                li.dropdown .dropdown-menu {
                    border-image: linear-gradient(to left, #64b964, #0e244b) 1 0 0 0 !important;
                }
            }
        }
    }
}

.bg-color-sinergi {
    // backgrond color linear gradient to right from #62B967 to #0E244B
    background-image: linear-gradient(to left, #64b964, #0e244b) !important;
}

.tabs-navigation .nav-tabs>li .nav-link {
    padding: 8px;
}

.mt-md-3 {
    @media (min-width: 768px) {
        margin-top: 1.5rem !important;
    }
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: transparent;
}

.table-certificate {
    margin-bottom: 5px !important;

    tr>td,
    th {
        font-size: 10px !important;
        padding: 0px !important;
        line-height: 15px;
    }
}

.wa-link-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 55px;
    right: 13px;
    background-color: #25d366;
    color: #fff !important;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;

    i {
        margin-top: 16px;
    }
}

ul.nav-list li a:before {
    color: #ee9e20;
}

aside ul.nav-list>li>a {
    color: #ee9e20;
}

aside ul.nav-list>li>a:hover {
    font-weight: 500;
}

ul.nav-list li>a.active {
    color: #ee9e20;
}

.electrical-service-scheme-container {
    width: 100%;
    clear: both;
    position: relative;

    img {
        z-index: 1;
    }

    a:hover {
        text-decoration: none;
    }

    .btn-relay {
        background-color: rgba(255, 0, 0, 0);
        // background-color: rgba(255, 0, 0, 0.3);
        position: absolute;
        z-index: 2;
        width: 15%;
        height: 11%;
        top: 31%;
        left: 35.1%;
        transform: translate(-50%, -50%);
    }

    .btn-scada {
        background-color: rgba(255, 0, 0, 0);
        // background-color: rgba(255, 0, 0, 0.3);
        position: absolute;
        z-index: 2;
        width: 17%;
        height: 11%;
        top: 23%;
        left: 61.5%;
        transform: translate(-50%, -50%);
    }

    .btn-energy {
        background-color: rgba(255, 0, 0, 0);
        // background-color: rgba(255, 0, 0, 0.3);
        position: absolute;
        z-index: 2;
        width: 16.7%;
        height: 11%;
        top: 40%;
        left: 84.4%;
        transform: translate(-50%, -50%);
    }

    .btn-dc {
        background-color: rgba(255, 0, 0, 0);
        // background-color: rgba(255, 0, 0, 0.3);
        position: absolute;
        z-index: 2;
        width: 15.2%;
        height: 11.3%;
        top: 50%;
        left: 40.1%;
        transform: translate(-50%, -50%);
    }

    .btn-genset {
        background-color: rgba(255, 0, 0, 0);
        // background-color: rgba(255, 0, 0, 0.3);
        position: absolute;
        z-index: 2;
        width: 15.2%;
        height: 12%;
        top: 76.5%;
        left: 27.7%;
        transform: translate(-50%, -50%);
    }

    .btn-transformer {
        background-color: rgba(255, 0, 0, 0);
        // background-color: rgba(255, 0, 0, 0.3);
        position: absolute;
        z-index: 2;
        width: 16.2%;
        height: 12%;
        top: 76.5%;
        left: 51.7%;
        transform: translate(-50%, -50%);
    }

    .btn-test {
        background-color: rgba(255, 0, 0, 0);
        // background-color: rgba(255, 0, 0, 0.3);
        position: absolute;
        z-index: 2;
        width: 15.2%;
        height: 11%;
        top: 73.4%;
        left: 75%;
        transform: translate(-50%, -50%);
    }
}

//////////

.portfolio-item>.card {
    padding: 0.3rem 0.2rem;
    border: 1px solid #dadada;
}

@media (max-width: 576px) {
    .portfolio-list .portfolio-item {
        margin-bottom: 10px !important;
    }

    .portfolio-item>.card>.card-body {
        min-height: auto !important;
    }
}

.portfolio-item>.card>.card-body {
    /* min-height: 255px; */
    min-height: auto;
}

img.img-card {
    width: auto !important;
    max-height: 100px !important;
}

img.img-card-genset {
    width: auto !important;
    max-height: 200px !important;
}

.portfolio-item>.card>.card-body h5 {
    font-size: 11px !important;
    line-height: 0.8rem;
    text-transform: none;
}

.portfolio-item>.card>.card-body p.text-1 {
    font-size: 9px !important;
    line-height: 0.8rem;
    color: #212529 !important;
    font-weight: 400 !important;
}

.img-card-logo-wrapper {
    position: relative;
}

.img-card-logo-item {
    position: absolute;
    top: 0px;
    right: 0px;
}

.img-card-logo {
    height: 100%;
    width: 40px;
}

.img-logo {
    width: auto;
    height: 25px;
    margin-bottom: 10px;
}

.badge {
    white-space: normal !important;
}